<!--<script context="module">-->

<!--	export async function preload({ params, query }) {-->
<!--		const api_url = 'http://localhost:8080/v1/site/list';-->

<!--		const res = await this.fetch( api_url,-->
<!--				{-->
<!--					method: 'post',-->
<!--				}-->
<!--		);-->

<!--		const data = await res.json();-->
<!--		const siteResponse = await data.siteResponse;-->

<!--		if (res.status === 200) {-->
<!--			return { sites: siteResponse };-->
<!--		} else {-->
<!--			this.error(res.status, siteResponse.message);-->
<!--		}-->
<!--	}-->

<!--</script>-->

<script>
	import { allSites } from '../stores.js';
</script>

<!--<script>-->
<!--	export let sites;-->
<!--</script>-->

<style>
	/*ul {*/
	/*	margin: 0 0 1em 0;*/
	/*	line-height: 1.5;*/
	/*}*/
</style>

<svelte:head>
	<title>Sites List</title>
</svelte:head>

<div>
	<h1>Sites List</h1>
	<table>
		<thead>
		<tr>
			<th>Site Name</th>
			<th>Customer Name</th>
			<th>Status</th>
			<th>Address</th>
			<th>City</th>
			<th>Country</th>
			<th>Postal Code</th>
		</tr>
		</thead>
		<tbody>
		{#each $allSites as site}
			<tr>
				<td><a rel='prefetch' href='site/edit/{site.id}'>{site.siteName}</a></td>
				<td>{site.customerName}</td>
				<td>{site.siteStatus}</td>
				<td>{site.address}</td>
				<td>{site.provinceName}</td>
				<td>{site.countryName}</td>
				<td>{site.postalCode}</td>
			</tr>
		{/each}
		</tbody>
	</table>
</div>