<!--<script context="module">-->
<!--	export async function preload({ params, query }) {-->
<!--		const api_url = 'http://localhost:8080/v1/customer/list';-->
<!--		const res = await this.fetch( api_url,-->
<!--				{-->
<!--					method: 'post',-->
<!--				}-->
<!--		);-->
<!--		const data = await res.json();-->
<!--		const customerResponse = await data.customerResponse;-->

<!--		if (res.status === 200) {-->
<!--			return { customers: customerResponse };-->
<!--		} else {-->
<!--			this.error(res.status, customerResponse.message);-->
<!--		}-->
<!--	}-->

<!--</script>-->

<script>
	import { allCustomers } from '../stores.js';
</script>

<style>
	/*ul {*/
	/*	margin: 0 0 1em 0;*/
	/*	line-height: 1.5;*/
	/*}*/
</style>

<svelte:head>
	<title>Customers List</title>
</svelte:head>

<div>
	<h1>Customers List</h1>
	<table>
		<thead>
		<tr>
			<th>Name</th>
			<th>Code</th>
			<th>Brand</th>
			<th>OwnerShip</th>
			<th>Channel</th>
			<th>Location</th>
		</tr>
		</thead>
		<tbody>
		{#each $allCustomers as customer}
			<tr>
				<td><a rel='prefetch' href='customer/edit/{customer.id}'>{customer.name}</a></td>
				<td>{customer.code}</td>
				<td>{customer.brand.name}</td>
				<td>{customer.owner.name}</td>
				<td>{customer.channel.name}</td>
				<td>{customer.marketSegment.name}</td>
			</tr>
		{/each}
		</tbody>
	</table>
</div>
