<script>
    import { allCustomers, codeCustomers } from '../routes/stores.js';
    import Select from 'svelte-select';
    import { getContext } from 'svelte'
    import { get } from 'svelte/store';
    // let  customers;

    let items = [];
    const unsubscribe = codeCustomers.subscribe(value => {
        items = value;
    });

    let selectedValue = undefined;
    // console.log(typeof (items));
    // console.log(items);

    // items = [
    //     {value: 'chocolate', label: 'Chocolate'},
    //     {value: 'pizza', label: 'Pizza'},
    //     {value: 'cake', label: 'Cake'},
    //     {value: 'chips', label: 'Chips'},
    //     {value: 'ice-cream', label: 'Ice Cream'},
    // ];

</script>
{#if items}
    <Select {items} bind:selectedValue></Select>
{/if}

