<script context="module">

	export async function preload({ params, query }) {
		const api_url = 'http://localhost:8080/v1/portal/list';

		const res = await this.fetch( api_url,
				{
					method: 'post',
				}
		);

		const data = await res.json();
		const portalViewResponse = await data.portalViewResponse;

		if (res.status === 200) {
			return { portals: portalViewResponse };
		} else {
			this.error(res.status, portalViewResponse.message);
		}
	}

</script>

<script>
	export let portals;
</script>

<style>
	/*ul {*/
	/*	margin: 0 0 1em 0;*/
	/*	line-height: 1.5;*/
	/*}*/
</style>

<svelte:head>
	<title>portals List</title>
</svelte:head>

<div>
	<h1>portals List</h1>
	<table>
		<thead>
		<tr>
			<th>portal Name</th>
			<th>Customer Name</th>
			<th>Status</th>
			<th>Landing Page Url</th>
		</tr>
		</thead>
		<tbody>
		{#each portals as portal}
			<tr>
				<td><a rel='prefetch' href='portal/edit/{portal.id}'>{portal.portalName}</a></td>
				<td>{portal.customerName}</td>
				<td>{portal.portalStatus}</td>
				<td>{portal.landingPageUrl}</td>
			</tr>
		{/each}
		</tbody>
	</table>
</div>